@{
    ViewData["Title"] = "Home Page";

}
@model task2.Models.IndexModel

<div id="cardsPanel" class="d-flex align-items-center flex-column">
    <H3 class="p-2">Data still not loaded form 19115 api, wait few moments</H3>
    <h4 class="p-2">It is really slow api.</h4>
    <span class="pseudospinner p-2">This should be spinner</span>
</div>




@section Scripts {
    <script>
        var updater = setInterval(function() {
                $.get("home/GetCards",
                    function(data) {
                        if (data !== undefined) {
                            $("#cardsPanel").html(data);
                            clearInterval(updater);
                            updater = setInterval(() => $.get("home/GetNewCards?dateTime=" + Date.now(),
                                    function(data) {
                                        $("#cardsPanel").prepend(data);
                                    }),
                                10000);
                        }
                    });
            },
            5000);
    </script>
}
