@{
    ViewData["Title"] = "Home Page";

}
@model task2.Models.IndexModel

<div id="cardsPanel">
    <H3>Data still not loaded form 19115 api, wait few moments</H3>
    <h4>It is really slow api.</h4>
    <span class="pseudospinner">This should be spinner</span>
</div>



<script src="~/js/site.min.js" asp-append-version="true"></script>
<script>
    setInterval(() => {
            $.get("home/GetCards",
                function(data) {
                    $("#cardsPanel").html(data);
                });
        },
        4000);
</script>
